@font-face {
    font-family: "SFProDisplay";
    src: url('../fonts/SFProDisplay-Regular.woff2').format("woff2"), 
         url("../fonts/SFProDisplay-Regular.woff").format("woff"), 
         url("../fonts/SFProDisplay-Regular.ttf").format('truetype'), 
         url("../fonts/SFProDisplay-Regular.eot")format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

#root {

}

body {
    font-family: SFProDisplay, sans-serif;
}

.main-wrapper {
    max-width: 800px;
    min-width:375px;
    height: 100vh;
    background-color: aqua;
    margin:0 auto;
}