


body {
    font-family: SFProDisplay, sans-serif;
}

.main-wrapper {
    font-family: SFProDisplayBold, sans-serif;
    max-width: 800px;
    min-width: 300px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 91px;

    h1 {
        margin: 0 16px;
        font-weight: 500;
        font-size: 34px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: rgba(120, 120, 128, 0.16);
        border-radius: 8.91px;
        margin: 10px 16px 0;
        padding: 2px;

        .nav-tab {
            width: 100%;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #000000;
                height: 36px;
                flex-direction: row;
                justify-content: center;
            }

            .active {
                background-color: #fff;
                border-radius: 6.93px;
                align-items: center;
                box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
            }
        }
    }

    .content-between-fields {
        position: relative;
        bottom: 310px;
        width: 10%;
    }

    .arrow-button {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        bottom: 414px;
    }

    .fieldRow {
        display: flex;
        padding: 20px 16px 0;

        .fieldRowHalf {
            width: 50%;
        }
    }

    .fieldRowLeft {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px 16px 0;
        align-items: center;

        span {
            margin-left: 4px;
        }
    }

    .textTempl {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: -20px;
        margin-left: -5px;
    }


    .cityCode {
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
    }

    .cityName {
        font-family: "SFProDisplay";
        font-weight: 400;
        font-size: 15px;
        color: #787880;
    }

    .countryFlag {
        margin-left: 4px;
    }


    .dayMonth {
        font-weight: 500;
        font-size: 15px;
    }

    .days {
        font-family: "SFProDisplay";
        font-weight: 400;
        color: #787880;
        font-size: 15px;
    }
}


@media (max-width: 450px) {
    .main-wrapper {
        /*.content-between-fields {
            left: 12px;
        }*/

        .texttempl {
            .daymonth {
                font-size: 13px;
            }

            .days {
                font-size: 13px;

                .day {
                }

                .qty {
                    font-size: 13px;
                }
            }
        }
    }
}



